{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}
{% block content %}
<div class="news-container">
    <div class="center">
        <div class="card card-login m-auto card-auth">
            <div class="card-body">
                <h5 class="card-title text-center">Установите новый пароль!</h5>
                <form method="post" class="form-contact" novaldiate>
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}