{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Sidebar (Фильтр) -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-brand">Фильтр</div>
    <form>
        <div class="mb-3">
            <select class="form-select" aria-label="Select Category">
                <option selected>Все категории</option>
                <option value="1">Технологии</option>
                <option value="2">Кулинария</option>
                <option value="3">Фильмы</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Select Time">
                <option selected>Все время</option>
                <option value="1">Сегодня</option>
                <option value="2">Последняя неделя</option>
                <option value="3">Последний месяц</option>
            </select>
        </div>
        <div class="d-grid gap-2 mb-5">
            <button class="btn btn-primary" type="button">Применить</button>
            <button class="btn btn-secondary" type="button">Сбросить</button>
        </div>
    </form>
</div>

<!-- News Container -->
<div class="news-container">
    <form method="post" class="filter-form">
        {% csrf_token %}
        {{ filter.form.as_p }}
        <button type="submit">Применить</button>
    </form>
    <!-- News Cards -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            {% if posts %}
            {% for post in posts %}
            <a href="{% url 'post' post.id %}" style="text-decoration: none;color: #666;">
                <div class="card news-card">
                    <img src="{{post.imagefile.url}}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.description}}</p>

                        <p class="card-text d-flex mb-2">
                            <small class="text-muted">Категория: {{post.category.name}}</small>
                            <small class="ms-auto text-muted">
                               Автор: {{post.user}}, {{post.created_at|date:"d M Y, H:i"}}
                            </small>
                        </p>
                    </div>
                    
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="text-center">На сайте нет постов! <a href="{% url 'login' %}">Авторизуйтесь</a> и добавьте посты!
            </p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Filter Button (Кнопка для показа фильтра на маленьких экранах) -->
<button class="btn btn-primary filter-btn" id="filterButton">Показать фильтр</button>

<script src="{% static 'js/myscript.js' %}"></script>
{% endblock content %}